 

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    background: linear-gradient(180deg, #f5f6fa 0%, #f7e8ff 40%, #dbeafe 80%, #b4b0ff 100%);
}

.login-box {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px; 
    margin-top: 250px;
    
}

.login-title {
    font-size: 2rem;
    margin-bottom: 16px;
    color: #333;
}

.login-input {
    width:100%;
    padding:10px;

    border: 1px solid #ccc;
    border-radius: 100px;
    font-size: 1rem;
     box-sizing: border-box;
}
.password-input {
    padding-right: 40px; 
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
}

.login-button:hover {
    background-color: #357ab8;
}

.login-error {
    color: red; 
}
.password-container {
    position: relative;
    width: 100%;
}
.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.login-input-error {
    border: 2px solid #e74c3c !important;
   
}