.filters-container {
  display: flex; 
  margin-bottom: 16px;
}

.filter-select { 
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: transparent;
  color:white;
  border-bottom-right-radius: 0px;
}
.filter-select:hover {
  border-color: #888;
}
.filter-input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: transparent;
  color:white;
}
.filter-input:hover {
  border-color: #888;
}
